html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}


html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
    max-width: 1325px;
    padding: 0 12px;
    margin: 0 auto;
}

.header {
    background-image: url(nix.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}

.main {
  margin-top: 100px;  
}

h1,
h2 {
    text-align: center;
}

/* spollers  */
.lessons__list {
  margin: 75px auto 0;
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}

.lessons__list-item {
  padding-bottom: 50px;
  border-bottom: 1px solid #B3B4CA;
}

.lessons__list-item:last-child {
  border-bottom: none;
}

.lessons__list-title {
  position: relative;
  width: 100%;
  text-align: left;  
  font-size: 32px;
  line-height: 41px;
  font-weight: 500;  
  padding: 0;
  cursor: pointer;  
}

.lessons__list-title:hover {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(98.59deg, #4E55FF 8.54%, #3A7CFD 34.57%, #24A1FB 62.94%, #00DAF8 109.42%);
  transition: 0.5s ease-in;
}


.lessons__list-title::before,
.lessons__list-title::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #2B2D65;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: transform 0.3s ease 0s;
}

.lessons__list-title::after {
  transform: rotate(-90deg);
}

.lessons__list-title._active::after {
  transform: rotate(45deg);
}

.lessons__list-title._active::before {
  transform: rotate(-45deg);
}

.lessons__list-title._active {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(98.59deg, #4E55FF 8.54%, #3A7CFD 34.57%, #24A1FB 62.94%, #00DAF8 109.42%);
}

.lessons__task {  
  padding-top: 50px;  
}

.lessons__task-title {
  margin-top: 70px;
  font-size: 28px;
  line-height: 125%;
  font-weight: 700;
  font-style: italic;
}

.lessons__task-descr {
  margin-top: 20px;
  font-size: 22px;
  line-height: 125%;
  font-weight: 500;
}

.lesssons__task-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  font-size: 20px;
  line-height: 125%;
  font-weight: 500;
  font-style: italic;
}
  
.lesssons__task-list li {
  list-style-type: disc;
  margin-left: 50px;
}

.lessons__task-answer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lessons__order-list {
  margin-top: 30px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  padding: 0;
}

.lessons__order-title {
  font-size: 20px;
  line-height: 125%;
  font-weight: 500;
  list-style-type: decimal;
}

.link {
  position: relative;
  font-size: 24px;
  line-height: 125%;
  font-weight: 700;
  color: #2B2D65;
}

.link:hover {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(92.05deg, #FFAB5D 7.98%, #FEE97B 131.44%);
  transition: all 0.3s ease-in-out;
}